@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');


* {
    font-family: 'Roboto', sans-serif;
}

/* Estilos titulos y parrafos */

p {
    font-size: 12px;
    color: var(--textos);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 26px;
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

h2 {
    font-size: 22px;
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 18px;
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--fondo-pantalla);
}

main {
    margin-left: 5%;
}

/* Paleta de colores */
:root {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;
}

/* Estilo cabecera */
.barra-logo {
    padding: 0.5em;
    padding-left: 5%;
    background-color: var(--fondo-Cabecera);
    color: white;
    width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.barra-menu {
    margin-left: 13px;
    margin-right: 13px;
    padding-top: 5px;
    background-color: var(--fondo-Menu);
    width: 100%;
}

.consultar{
    padding-top: 5px;
}

.logo {
    width: 150px;
}

/* Estilo Pie de Pagina */
footer {
    position: 0;
    bottom: 0;
    width: 100%;
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}


footer p {
    color: var(--texto-footer);
    padding: 5px;
}

footer img {
    width: 130px;
    margin-left: 10%;
}

/* Btn Paso y General */

.btn-paso {
    background-color: var(--magenta);
    border-radius: 5px;
    padding: 5px;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

.btn-generales {
    background-color: var(--celeste);
    border-radius: 5px;
    padding: 5px;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

.btn-menu {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    padding: 3px 25px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 10px;
    margin: 5px;
    text-transform: uppercase;
    text-align: center;
}

.btn-menu:hover {
    color: var(--gris-claro);
    cursor: pointer;
}

main p {
    font-size: 18px;
    color: var(--textos);
    font-family: 'Roboto', sans-serif;
}

/* Barra Menu Paso y Generales btn  */

.filtrar {
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
    float: right;
    text-decoration: none;
    color: var(--textos);
}

.inicio {
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

.desplegado {
    background: transparent;
    border: none;
    font-size: 10px;
    height: 30px;
    width: 130px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
}

/* Mensajes de alertas */

.alerta {
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.alerta.alert-success {
    background-color: var(--mensaje-usuario-verde);
}

.alerta.alert-danger {
    background-color: var(--mensaje-usuario-rojo);
}

.alerta.alert-warning {
    background-color: var(--mensaje-usuario-amarillo);
}

/* Mesas Escrutadas - Electores - Part. sobre escrutado */

.recuadros-informacion {
    border-radius: 10px;
    margin: 10px;
    height: 80px;
    width: 250px;
    padding: 2px;
    color: #FFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: bold;
}

#mesas-escrutadas {
    background-color: var(--celeste);
}

#electores {
    background-color: var(--magenta);
}

#participacion-escrutado {
    background-color: var(--morado);
}

.chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
}

.chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
    /* giramos las letras para horizontal*/
    transform: rotate(0deg);
    padding-top: 0px;
    display: block;
}

.chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
}

/* posicionamos el % del gráfico*/
.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: "0%";
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: "100%";
    position: absolute;
    right: -1.5em;
    top: -1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}