#img-data {
    width: 350px;
    margin: 1px;
}

img {
    vertical-align: middle;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-paso-generales {
    border-radius: 10px;
    margin: 15%;
    height: 100px;
    width: 300px;
    padding: 1rem;
    display: flex; 
    align-items: center; 
    justify-content: left;
    color: #FFF;
    font-size: 28px;
    text-decoration: none;
}