/* Grilla estilos */
.grilla {
    width: 1024px;
    margin: 0 auto 50px auto;
    border-radius: 15px;
    border: 1px solid var(--borde-Grilla);
    border-collapse: collapse;
    background-color: rgb(250, 250, 250);
}

/* THEADER */
.grilla thead {
    text-align: center;
    color: var(--titulo-Grilla);
}

.grilla thead th {
    color: var(--titulo-Grilla);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid var(--borde-inferior-Grilla);
}

/* tbody */
.grilla tbody tr:hover {
    background-color: rgb(250, 250, 250);
}

.grilla tbody td {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--borde-inferior-Grilla);
    padding: 15px 0;
    font-size: 12px;
    vertical-align: top;
    text-align: center;
}

/* Elcciones texto  */
.texto-elecciones-chico {
    font-size: 12px;
    color: var(--textos);
    font-weight: bold;
    width: 18px;
}

.texto-path-chico {
    padding-top: 10px;
    font-size: 11px;
    width: 18px;
    color: var(--celeste);
}

/* Datos generales */
.recuadro-mesas-escrutadas {
    background-color: var(--celeste);
    border-radius: 5px;
    margin: 2px;
    height: 120px;
    width: 70px;
    color: #FFF;
    font-size: 10px;
}

.recuadro-electores {
    background-color: var(--magenta);
    border-radius: 5px;
    margin: 2px;
    height: 120px;
    width: 70px;
    color: #FFF;
    font-size: 10px;
}

.recuadro-participacion {
    background-color: var(--morado);
    border-radius: 5px;
    margin: 2px;
    height: 120px;
    width: 70px;
    color: #FFF;
    font-size: 10px;
}

/* Acomodar datos generales */
.contenedor-recuadros {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.datos-generales{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 80px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.datos-agrupacion {
    grid: 100px 100px;
    overflow-y: scroll;
    height: 325px;
    padding: 5px;
    font-size: 10px;
    color: var(--textos);
}

/**Acomodar datos por agrupacion**/
.partido-interno {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.texto-path {
    font-size: 12px;
    white-space: pre-line;
}